name: Release

on:
  pull_request:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



# name: Release

# on:
#   push:
#     tags:
#       - 'v*'

# jobs:
#   release:
#     name: Make Release
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout repository
#       uses: actions/checkout@v3

#     - name: Set up Go environment
#       uses: actions/setup-go@v4
#       with:
#         go-version: '1.20'

#     - name: Install Goreleaser
#       run: |
#         curl -sSfL https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | sh

#     - name: Run Goreleaser
#       run: goreleaser release --clean --rm-dist
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Automatically provided by GitHub Actions

#     - name: Success message
#       run: echo 'Release completed successfully!'


